.game-list {
    padding: 25px 10px;
    width: 800px;
    margin: auto;
}

.game-title {
    font-size: 20px;
    font-weight: bold;
}

.game-item {
    border: solid 1px gray;
    border-radius: 15px;
    width: 80%;
    margin: 10px 0;
    position: relative;
    left: 10%;
}

.game-item-add {
    width: 700px;
    margin: auto;
    border: solid 1px;
    border-radius: 15px;
    padding: 20px 10px 0 10px;
}

.game-search-input{
    position: relative;
    left:290px;
}

.post-add-button {
    margin-top: 20px;
    padding: 10px;
    border-top: dotted 1px;
}

.post-add-button:hover {
    cursor: pointer;
    font-weight: bold;
}

.delete-item {
    position: absolute;
    right: 15px;
    bottom: 12px;
    color: red;
}

.delete-item:hover {
    font-weight: bold;
    cursor: pointer;
}

.edit-item {
    position: absolute;
    right: 15px;
    top: 12px;
    color: blue;
}

.edit-item:hover {
    font-weight: bold;
    cursor: pointer;
}


